<div class="container">

  <div class="title">
    <p class="text-left h1">Resume</p>
  </div>
  <div class="media">
    <i class="material-icons align-self-start mr-3">school</i>
    <div class="media-body">
      <h5 class="mt-0">Education Experience</h5>
      <p>
        <i>Northeastern University</i>, Boston, MA <span class="fr">Expected May 2020</span><br/>
        - Master of Science in Computer System Engineering
      </p>
      <p>
          <i>Hunan University</i>, Hunan, China <span class="fr">Sept 2013 - June 2017</span><br/>
          - Bachelor of Civil Engineering
        </p>
    </div>
  </div>
  <!-- working experience -->
  <div class="media mt-4">
    <i class="material-icons align-self-start mr-3">work</i>
    <div class="media-body">
      <h5 class="mt-0">Work Experience</h5>
      <p>
        <i>Teaching Assistant</i><span class="fr">Sept 2019 - Dec 2019</span><br/>
        Northeastern University, Boston, MA<br/>
        
      </p>
</div>
  </div>
  <div class="media mt-4 mb-3">
    <i class="material-icons align-self-start mr-3">emoji_objects</i>
    <div class="media-body">
      <h5 class="mt-0">Skills</h5>
      <table>
        <tr>
          <td>Programming Languages:	</td>
          <td>Java, Python, R, MATLAB, Scala</td>
        </tr>
        <tr>
          <td>Web Development:	</td>
          <td>HTML, CSS, Sass, JavaScript, Angular, Node.js, Express</td>
        </tr>
        <tr>
          <td>Database Management Systems:	</td>
          <td>MySQL, MongoDB</td>
        </tr>
        <tr>
          <td>Tools:	</td>
          <td>Microsoft Visual studio code, IntelliJ IDEA</td>
        </tr>
      </table>
    </div>
  </div>
</div>