.container {
    .left-container {
        float: left;
        width: 50%;
        height: 100%;

        .topic {
            padding-top: 100px;
            font-size: 30px;
            p {
                font-size: 90px;
            }
        }
    }

    .right-container {
        float: right;
        width: 50%;
        height: 100%;
        .photo {
            margin: 100px auto;
            border-radius: 50%;
            height: 400px;
            width: 400px;
            overflow: hidden;
            img {
                position: relative;
                left: -18px;
                max-width: 105%;
                overflow: hidden;
            }
        }
    }
}