<div class="container">
  <div class="left-container">
    <div class="topic">
      Hey, I am <br>
      <p class="name">Haoyu Yin</p>
      
    </div>
    <div class="context">
      A graduate student from Northeastern University, Looking for an intern.
    </div>
  </div>
  <div class="right-container">
    <div class="photo border">
      <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3334&q=80" alt="">
    </div>
  </div>
</div>
